<div
  style="
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    align-content: center;
    margin: 10% 2%;
  "
>
  <div style="width: 70%">
    <br /><br />
    <form class="aa-login-form" action="/product/create" method="post">
      <label for="">Product Title<span>*</span></label>
      <input type="text" placeholder="Title" name="title" required />
      <!-- <label for="">Phone Number<span>*</span></label>
      <input type="number" placeholder="phone" name="phone" /> -->
      <label for="">Image URL<span>*</span></label>
      <input type="text" placeholder="Image" name="img_url" required />
      <label for="">Category<span>*</span></label>
      <input type="text" placeholder="men / women / furniture" name="category" required />
      <label for="">Price<span>*</span></label>
      <input type="text" placeholder="Price" name="price" required/>
      <br>
      <button class="aa-browse-btn" type="submit">Add To Products</button>
    </form>
  </div>
</div>
