<div
  style="
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    align-content: center;
    margin: 10% 2%;
  "
>
  <div style="width: 70%">
    <br /><br />
    <form class="aa-login-form" action="/users/create" method="post">
      <label for="">Your Name<span>*</span></label>
      <input type="text" placeholder="Name" name="name" required />
      <!-- <label for="">Phone Number<span>*</span></label>
      <input type="number" placeholder="phone" name="phone" /> -->
      <label for="">Phone Number<span>*</span></label>
      <input type="text" placeholder="Number" name="number" required />
      <label for="">Email address<span>*</span></label>
      <input type="text" placeholder="Email" name="email" required />
      <label for="">Password<span>*</span></label
      ><input type="password" placeholder="Password" name="address" required />
      <label for="">Address<span>*</span></label>
      <input type="text" placeholder="Delivery Address" name="password" required />
      <button class="aa-browse-btn" type="submit">Register</button>
    </form>
  </div>
</div>
